# Python - Archivos compilados y caché
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Entornos virtuales
venv/
.venv/
env/

# Playwright - Reportes y evidencia
test-results/
playwright-report/
blob-report/
videos/
screenshots/

# Configuración de VS Code
.vscode/

# Variables de entorno
.env

# Evidencia de Pruebas excepto .gitkeep
evidence/
evidence/*
!evidence/.gitkeep

# Carpetas por defecto de Playwright
test-results/
playwright-report/
blob-report/
videos/
screenshots/

# Archivos de traza y comprimidos
*.zip
*.video.webapp
